<div class="row product-details" *ngIf="productData" >

    <div class="col-sm-6">
            <img class="product-image" src="{{productData.image}}" >
    </div>

    <div class="col-sm-6">
            <div class="details">
                <h1 class="name">{{productData.name}}</h1>
                <h3 class="price">Price: {{productData.price | currency:'INR'}}</h3>
                <div class="product-color">
                    <p>Color: {{productData.color}}</p>
                </div>
                
                <p class="product-des"> Description: {{productData.description}}</p>
                <p class="product-cat">Category: {{productData.category}}</p>
                
                <div class="quantity-group">
                    <p >Qty.</p>
                    <button (click)="handleQuantity('minus')" ><fa-icon [icon]="minus" ></fa-icon></button>
                    <input type="text" value="{{productQuantity}}">
                    <button (click)="handleQuantity('plus')"><fa-icon [icon]="plus" ></fa-icon></button>
                </div>

                <div class="product-option">
                    <button class="btn"><fa-icon [icon]="cart" ></fa-icon> Add to cart</button>
                    <button class="btn"><fa-icon [icon]="bag" ></fa-icon> Buy Now</button>
                </div>
                
                
            </div>
    </div>

</div>
