<div class="product-list">
    <h1>Product List</h1>
    <p style="color: red;">{{productMessage}}</p>

    <table class="tab-desgin">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td>
                    <img src="{{item.image}}" alt="Product Image"/>
                </td>
                <td>{{item.name}}</td>
                <td>{{item.price | currency:'INR'}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td style="background-color: aliceblue; opacity: 0.7;"> <button mat-button color="warn" (click)="onDeleteClick(item._id)">
                    <mat-icon>delete</mat-icon> Delete
                  </button>
                <pre style="display: inline;">  ||  </pre>
                  <a routerLink="/seller-update-product/{{item._id}}"><fa-icon [icon]="update" > </fa-icon> Update</a>
                   </td>
            </tr>
        </tbody>
    </table>

</div>

