<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" class="common-form" (ngSubmit)="signUp(sellerSignUp.value)">
            <input class="common-input" ngModel type="text" name="name" placeholder="Enter Your Name" >
            <input class="common-input" name="email" ngModel type="text" placeholder="Enter Your Email">
            <input class="common-input" ngModel name="password" type="password" placeholder="Enter Your Password" >
            
            <button class="common-button">Sign-Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have account ? Click to Login </a>
        </form>
    </div>
</div>


<!-- Login Page -->
<div class="seller-auth">
<div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-m">{{authError}}</p>
    <form #sellerLogin="ngForm" class="common-form" (ngSubmit)="Login(sellerLogin.value)">
        <input class="common-input" name="email" ngModel type="text" placeholder="Enter Your Email">
        <input class="common-input" ngModel name="password" type="password" placeholder="Enter Your Password" >
        
        <button class="common-button">Login</button>
        <a class="auth-toggle-link" (click)="openSignup()" >Don't have account ? Click to SignUp </a>
    </form>
</div>
</div>
